<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kimisub.consolidate</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-t</string>
        <string>300</string>
        <string>/Users/ikornii/.local/bin/kimisub</string>
        <string>consolidate</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>1</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/tmp/kimisub-consolidate.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/kimisub-consolidate.log</string>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
